html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  background-image: url('assets/created/raw/landing_splash.png');
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-size: 100% auto;
  background-position: center top;
  -webkit-touch-callout: none;
  /* Disable callout menu */
  -webkit-user-select: none;
  /* Safari iOS */
  -webkit-tap-highlight-color: transparent;
  /* Remove highlight flash */
  user-select: none;
  /* Standard */
  touch-action: none;
}

canvas {
  display: block;
  margin: 0 auto;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
}

#p5_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background: url('assets/created/logo1.png') no-repeat center center;
  background-size: 50vw auto; */

  z-index: 9999;
  /* ensure it sits above everything */
}